:focus {
  outline: 0 !important;
}

body {
  font-family: Futura;
  color: white;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

button {
  border-radius: 10%;
}

/*Setting up grid*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "topleft dspl topright .""down save up ."". . . .";
}

.down {
  grid-area: down;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topright{
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.save {
  grid-area: save;
  display: table;
  height: 100%;
  width: 100%;
}

.saveleft{
	display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;
}

.saveright{
	  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;

}

.up {
  grid-area: up;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dspl {
  grid-area: dspl;
  display: inline-block;
}

/*Changing individual designs*/

#temperature {
  font-size: 5em;
  text-align: center;
}

#nrg-usg {
  text-align: center;
  font-size: 1.5em;
}



#weather{
	color: white;
	list-style: none;
}

#temp-down {
  background-color: black;
  transform: rotate(180deg);
  border: none;
}

#btn-down {
  width: 30%;
  height: auto;
  cursor: pointer;
}

#pwrsv {
  display: inline-block;
  padding: 2.5vh;
  width: 15vw;
  cursor: pointer;
  font-weight: bold;
}

.pwrsvon {
  background-color: #89c403;
  opacity: 0.8;
  color: white;
  border: 1px solid #89c403;
  box-shadow: 0 0 1.5em 0.15em #89c403;
}

.pwrsvoff {
  background-color: transparent;
  opacity: 0.5;
  color: #89c403;
  box-shadow: inset 0.1em -0.1em 0.5em 0.35em #89c403;
}

#temp-reset {
  opacity: 0.6;
  position: relative;
  top: 1em;
  padding: 2.5vh;
  width: 15vw;
  background-color: #FB0106;
  cursor: pointer;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 1.5em 0.15em #FB0106;
}

#user-loc{
	display: inline-block;
	background-color: transparent;
	color: white;
  padding: 2.5vh;
  width: 15vw;
  cursor: pointer;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 10%;
	box-shadow: 0 0 1.5em 0.15em blue;
}

#btn-weather{
  display: inline-block;
  visibility: hidden;
  color: white;
  font-weight: bold;
  position: relative;
  top: 1em;
  padding: 2.5vh;
  width: 15vw;
  background-color: transparent;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 1.5em 0.15em blue;
}

#temp-up {
  background-color: black;
  border: none;
}

#btn-up {
  width: 30%;
  height: auto;
  cursor: pointer;
}
